@import 'https://fonts.googleapis.com/css?family=Roboto';

h2, a, p {
	/* font-family: Roboto; */
	/* text-decoration: none; */
}
p>a {
	color: #fd084a;
  text-decoration: none;
}
.blink {
  animation: blink 0.5s infinite;
}
@keyframes blink{
  to { opacity: .0; }
}
/* .flex {
	display: flex;
  justify-content: center;
} */
.header-sub-title {
  /* font-family: "Courier"; */
  font-size: 20px;
  padding: 0.1em;
}

.header-sub-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-sub-title p:first-child {
  margin-right: 10px;
}
