{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "parserOptions": {
        "requireConfigFile": false,
        "ecmaVersion": "latest",
        "sourceType": "module",
        "babelOptions": {
            "presets": ["@babel/preset-react"]
         },
    },
    "parser": "@babel/eslint-parser",
    "plugins": [
        "react"
    ],
    "rules": {
    },
    "settings":
    {
        "eslint.workingDirectories": [
            "back",
            "front"
        ]
    }
}
