/* .App-header {
  background-color: var(--body-background);
  color: var(--body-color);
} */

* {
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--body-background);
    color: var(--body-color);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
}

.container {
  max-width: 72rem; /* 1152px ideal size */
  margin: 0 auto; 
  padding: 0 1.5rem; /* Allows breathing room on all devices, not just mobile */
  width: 100%;
}

@media (max-width: 768px) {
  .container {
    padding: 0 1rem; /* Slightly tighter padding on smaller viewports */
  }
}

a {
  color: var(--link-color);
}
